services:
  traefik:
    image: "traefik:v3.6"
    restart: unless-stopped
    command:
      #- "--log.level=DEBUG"
      - "--api.insecure=false" # set to true to enable traefik dashboard
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.websecure.address=:443"
      - "--certificatesresolvers.myresolver.acme.tlschallenge=true"
      - "--certificatesresolvers.myresolver.acme.email=contact@abolabs.fr"
      - "--certificatesresolvers.myresolver.acme.storage=/letsencrypt/acme.json"
      - --accesslog=true
      - --accesslog.filepath=/traefik/logs/access.log
      - --accesslog.bufferingsize=100
      - --accesslog.format=json
    ports:
      - "80:80"
      - "443:443"
      - "8080:8080"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - ./letsencrypt:/letsencrypt
      - ${DATA_VOLUME}/traefik/:/traefik/logs/

  maildev:
    image: djfarrelly/maildev
    # Uncomment to enable UI - It's recommended to use a real smtp for production
    # ports:
    #   - "${SMTP}:25"
    #   - "${WEBUI}:80"

  mariadb:
    image: mariadb:10.5
    restart: unless-stopped
    environment:
      MARIADB_ROOT_PASSWORD: ${MARIADB_ROOT_PASSWORD}
      MARIADB_USER: ${MARIADB_USER}
      MARIADB_PASSWORD: ${MARIADB_PASSWORD}
      MARIADB_DATABASE: ${MARIADB_DATABASE}
    volumes:
      - ${DATA_VOLUME}/mariadb:/var/lib/mysql
    healthcheck:
      test:
        [
          "CMD",
          "mariadb-admin",
          "ping",
          "-h",
          "localhost",
          "-p${MARIADB_ROOT_PASSWORD}"
        ]
      timeout: 20s
      retries: 10

  api:
    image: registry.gitlab.com/abolabs/constellation/api:${TAG_NAME}
    restart: unless-stopped
    build:
      context: api
      args:
        - MYUSER=${MYUSER}
        - TAG_NAME=${TAG_NAME}
        - GIT_BRANCH=${GIT_BRANCH}
    env_file:
      - .env
    volumes:
      - ${DATA_VOLUME}/api/.env:/var/www/constellation/api/.env
      - ${DATA_VOLUME}/api/storage:/var/www/constellation/api/storage
    depends_on:
      - redis
      - mariadb
      - meilisearch

  migrate:
    image: registry.gitlab.com/abolabs/constellation/api:${TAG_NAME}
    entrypoint: [ "php", "artisan", "migrate", "--force"]
    env_file:
      - .env
    volumes:
      - ${DATA_VOLUME}/api/.env:/var/www/constellation/api/.env
    depends_on:
      - mariadb
      - redis

  nginx-fpm:
    image: registry.gitlab.com/abolabs/constellation/nginx-fpm:${TAG_NAME}
    restart: unless-stopped
    build:
      context: nginx-fpm
      args:
        - TAG_NAME=${TAG_NAME}
    volumes:
      - ${DATA_VOLUME}/nginx-fpm:/var/log/nginx
      - ./nginx-fpm/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - api
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.nginx-fpm.rule=Host(`${API_HOSTNAME}`)"
      - "traefik.http.routers.nginx-fpm.entrypoints=web,websecure"
      - "traefik.http.routers.nginx-fpm.tls.certresolver=myresolver"

  web-ui:
    image: registry.gitlab.com/abolabs/constellation/web-ui:${TAG_NAME}
    restart: unless-stopped
    build:
      context: web-ui
      args:
        - MYUSER=${MYUSER}
        - TAG_NAME=${TAG_NAME}
        - GIT_BRANCH=${GIT_BRANCH}
    volumes:
      - ${DATA_VOLUME}/nginx:/var/log/nginx
      - ./web-ui/env.js:/var/www/env.js
    depends_on:
      - api
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.web-ui.rule=Host(`${WEBUI_HOSTNAME}`) && PathPrefix(`/`)"
      - "traefik.http.routers.web-ui.entrypoints=web,websecure"
      - "traefik.http.routers.web-ui.tls.certresolver=myresolver"

  redis:
    image: redis
    restart: unless-stopped
    volumes:
      - ${DATA_VOLUME}/redis:/data

  meilisearch:
    image: getmeili/meilisearch:v1.4
    restart: unless-stopped
    environment:
      - MEILI_MASTER_KEY=${MEILI_MASTER_KEY}
      - MEILI_NO_ANALYTICS=false
    depends_on:
      - mariadb

  meilisearch-init:
    image: registry.gitlab.com/abolabs/constellation/api:${TAG_NAME}
    entrypoint: [ "php", "artisan", "app:refresh-all-indexes" ]
    env_file:
      - .env
    volumes:
      - ${DATA_VOLUME}/api/.env:/var/www/constellation/api/.env
    depends_on:
      - mariadb
      - meilisearch
      - api
