// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #2EC4B6;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #DB3A34;
$orange: #FFC857;
$yellow: #f8d999;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #7BE0D6;
$lightgrey: #FDFFFC;
$black: #323031;
$white: #fff;
$grey: #6c757d;
$gray-base: #6c757d;

$primary: #177E89;
$secondary:#084C61;
$light: #FDFFFC;
$dark: #323031;
$danger: #DB3A34;
$warning: #FFC857;
$info: #54aeb9;
$success: #177E89;
$sidebar-color: #177E89;
//$light-blue: #7BE0D6;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
);

$sidebar-dark-nav-link-hover-color:       $white !default;
$sidebar-dark-nav-link-hover-bg:          theme-color("primary") !default;
$sidebar-dark-nav-link-hover-icon-color:  $white !default;

$breakpoint-mobile-up: 991.98px;
