// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// icons
@import url('https://unpkg.com/@coreui/icons@2.0.0-beta.3/css/all.min.css');

.table-bordered{
  margin-top: 0.5em;
}

// Layout
.app-header .navbar-brand{
  height: auto;
}

// Sidebar
.sidebar .nav-link:hover{
    background: $primary;
}
.sidebar .nav-link.active .nav-icon{
    color: $primary !important;
}
// Components
.card-body label {
  font-weight: bold;
}

// Datatable
table.dataTable.dtr-inline.collapsed > tbody > tr > td.dtr-control::before, table.dataTable.dtr-inline.collapsed > tbody > tr > th.dtr-control::before {
    background-color: $blue !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background-color: $blue !important;
    background: $blue !important;
    border: 1px solid $grey !important;
    color: $white !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
    background: $grey;
}

// Graph
.transparent-title {
    background: rgba(255,255,255,0.8);
    z-index: 1;
    position: relative;
}
#cy-container{
    min-height: 50rem;
}
#cy {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    //z-index: 1;
}

.cxtmenu-disabled {
    opacity: 0.333;
}


/**
 * Loader
 */
 .lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #177E89;
    border-color: #177E89 transparent #177E89 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .dataTables_wrapper .dataTables_processing{
      background: none;
  }

// tippy
@import 'tippy.js/dist/tippy.css'; // optional for styling
@import 'tippy.js/themes/light.css';
@import 'tippy.js/themes/material.css';
.tippy-content{
    font-size: 0.6em;
}
