// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// icons
@import url('https://unpkg.com/@coreui/icons@2.0.0-beta.3/css/all.min.css');

.table-bordered{
  margin-top: 0.5em;
}

.app-header .navbar-brand{
  height: auto;
}

.card-body label {
  font-weight: bold;
}

// Datatable
table.dataTable.dtr-inline.collapsed > tbody > tr > td.dtr-control::before, table.dataTable.dtr-inline.collapsed > tbody > tr > th.dtr-control::before {
    background-color: $blue !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background-color: $blue !important;
    background: $blue !important;
    border: 1px solid $grey !important;
    color: $white !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
    background: $grey;
}
