version: "3.8"

services:
  traefik:
    image: "traefik:v3.6"
    command:
      #- "--log.level=DEBUG"
      - "--api.insecure=false" # set to true to enable traefik dashboard
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.websecure.address=:443"
      - "--certificatesresolvers.myresolver.acme.tlschallenge=true"
      - "--certificatesresolvers.myresolver.acme.email=contact@abolabs.fr"
      - "--certificatesresolvers.myresolver.acme.storage=/letsencrypt/acme.json"
    ports:
      - "80:80"
      - "443:443"
      - "8080:8080"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - ./letsencrypt:/letsencrypt

  maildev:
    image: djfarrelly/maildev
    ports:
      - "${SMTP}:25"
      - "${WEBUI}:80"

  mariadb:
    image: mariadb:11
    environment:
      MARIADB_ROOT_PASSWORD: ${MARIADB_ROOT_PASSWORD}
      MARIADB_USER: ${MARIADB_USER}
      MARIADB_PASSWORD: ${MARIADB_PASSWORD}
      MARIADB_DATABASE: ${MARIADB_DATABASE}
    ports:
      - "${MARIADB_PORT-3306}:3306"
    volumes:
      - ${DATA_VOLUME}/mariadb:/var/lib/mysql
    healthcheck:
      test:
        [
          "CMD",
          "mariadb-admin",
          "ping",
          "-h",
          "localhost",
          "-p${MARIADB_ROOT_PASSWORD}"
        ]
      timeout: 20s
      retries: 10

  web-ui:
    build:
      context: web-ui
      args:
        - MYUSER=${MYUSER}
    env_file:
      - .env
    volumes:
      - ${FRONT_SOURCE_VOLUME}:/var/www
      - ./web-ui/env.js:/var/www/public/env.js
    depends_on:
      - api
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.web-ui.rule=Host(`${WEBUI_HOSTNAME}`) && PathPrefix(`/`)"
      - "traefik.http.routers.web-ui.entrypoints=web,websecure"
      - "traefik.http.routers.web-ui.tls.certresolver=myresolver"

  nginx:
    image: nginx:latest
    volumes:
      - ${API_SOURCE_VOLUME}:/var/www
      - ${DATA_VOLUME}/nginx:/var/log/nginx
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - api
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.nginx-fpm.rule=Host(`${API_HOSTNAME}`)"
      - "traefik.http.routers.nginx-fpm.entrypoints=web,websecure"
      - "traefik.http.routers.nginx-fpm.tls.certresolver=myresolver"
  api:
    build:
      context: api
      args:
        - MYUSER=${MYUSER}
    env_file:
      - .env
    volumes:
      - ${API_SOURCE_VOLUME}:/var/www
    depends_on:
      - redis
      - mariadb
      - meilisearch
  redoc:
    image: redocly/redoc:v2.1.3
    ports:
      - "${REDOC_PORT-8081}:80"
    environment:
      - SPEC_URL=${REDOC_SPEC_URL-http://localhost:8081/api/openapi.yml}
      - PAGE_TITLE=Constellation API
    volumes:
      - ${API_SOURCE_VOLUME}/public/docs:/usr/share/nginx/html/api/

  redis:
    image: redis:7.2
    ports:
      - "${REDIS_PORT-6379}:6379"
    volumes:
      - ${DATA_VOLUME}/redis:/data

  meilisearch:
    image: getmeili/meilisearch:v1.4
    environment:
      - MEILI_MASTER_KEY=${MEILI_MASTER_KEY}
    ports:
      - "${MEILI_MASTER_PORT-7700}:7700"
    depends_on:
      - mariadb
